html {
  /*font-size: 62.5%; */
  font-size: 10px;

  /* font family */
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @font-face {
    font-family: "LilitaOne-Regular";
    src: url("@/assets/fonts/LilitaOne-Regular.ttf");
  }
}

body {
  margin: 0;

  /* font setting */
  color: $text-black;
  text-align: center;
}

h1 {
  margin: 0;
}

p {
  font-weight: bolder;
  font-size: 1rem;
  padding: 0 0.5rem;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}