// base
$theme-color: rgb(255, 206, 114);
$theme-bg-color: rgb(255, 248, 236);
$white: #fff;
$black: #000;
$text-black: #2c3e50;
$text-secondary: #808080;

// button
$button-bg: rgb(255, 206, 114);
$button-text-color: rgb(254, 189, 67);

// input
$input-active-color: #ffdab9;

// activity
$secondary-text-color: rgb(254, 189, 67);
$delete-text-color: #f00;

// hobby
$my-hobby-theme-color: #180614;
$my-hobby-primary-color: #460e44;
$my-hobby-secondary-color: #55295b;